body{
    background-image: url("https://images.pexels.com/photos/19287246/pexels-photo-19287246/free-photo-of-blanco-y-negro-montanas-panorama-urbano-skyline.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logo{
    padding-left: 10px;
    font-size: 110%;
}
#logo_index{
    margin-top: 1%;
}
#cerrar{
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 15px;
}
#text{
    color: whitesmoke;
}
#titulo_seleccion{
    margin-top: 3%;
    text-align: center;
    font-size: 5ch;
    color: azure;
    text-shadow: 1px 1px 2px black;
}

#check{
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: grey;
    border-radius: 10px;
    color:whitesmoke;
}

#check:hover{
    transition-duration: 0.5s;

    color:orange;
    text-shadow: 1px 2px 1px black;
}



#titulo_logo{
    margin-top: 5px;
    text-align: center;
    color:red;
    text-shadow: 1px 1px 1px black;
    font-size: 2.2ch;
    font-weight: bold;
    font-family: lucida sans;
}